{% extends 'base.html' %}

{% block content %}
	<div class='item'>
		<button style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'course-list' %}`" aria-label='retornar'>
			<i class='fas fa-arrow-circle-left'></i>
		</button>
		<header>
			<strong onmouseenter='ajudaVoz(`{{ course.titulo }}`)'>{{ course.titulo }}</strong>
		</header>
		<div class='item-image'>
			<img src='{{ course.arquivo }}' alt='Imagem do curso {{ course.titulo }}' crossorigin/>
		</div>
		<div class='item-content'>
			<p onmouseenter='ajudaVoz(`Data de expiração: {{ course.data_exp }}`)'>Data de expiração: {{ course.data_exp }}</p>
			<p onmouseenter='ajudaVoz(`{{ course.descricao }}`)'>{{ course.descricao }}</p>
		</div>
	</div>
{% endblock %}