{% extends 'base.html' %}
{% block content %}
	<div class='content'>
		<div class='list'>
			<div class='list-content'>
				<ul>
					{% for course in course_list %}
						<li class='list-item'>
							<div class='list-item-img'>
								<img src='{{ MEDIA_URL }}{{ course.arquivo }}' alt='Imagem do curso {{ course.titulo }}' crossorigin/>
							</div>
							<div class='list-item-container'>
								<header>
									<strong>{{ course.titulo }}</strong>
								</header>
								<div class='list-item-container-content'>
									<p>{{ course.descricao }}</p>
									<button class='list-item-button' onclick="window.location.href=`{% url 'course' course.id %}`">
										Acessar
									</button>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}