{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Vídeo-aulas </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Vídeo-aulas </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	<button class='create' onclick="window.location.href= `{% url 'videolesson-form' %}`">
		<p>Novo</p>
	</button>

	{% if videolesson_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por título...'>
				<button class='search-button' type='button' onclick='pesquisaVideoaula()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Titulo</th>
							<th>URL</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for videolesson in videolesson_list %}
							<tr>
								<td>{{ videolesson.titulo }}</td>
								<td>{{ videolesson.url }}</td>
								<td>
									<div class='dropdown' onmouseleave='fecharlista()'>
										<button class='dropdown-button' onclick='exibirlista()'>
											Lista de opções
										</button>
										<div id='dropdown-content' class='dropdown-content'>
											<a href="{% url 'videolesson-edit' videolesson.id %}">Editar</a>
											<form method='post' action="{% url 'videolesson-delete' videolesson.id %}">
												{% csrf_token %}
												<button style='cursor: pointer;' type='submit'>Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert' onclick="window.location.href = `{% url 'videolesson-form' %}`" style='cursor: pointer;'>
		  		<strong>Aviso!</strong>
		  		<small>
		  			Você ainda não possui video-aulas cadastradas
				</small>
				<button class='alert-button'>Nova video-aula</button>
			</div>
		</div>
	{% endif %}
</div>
<script>
	function exibirlista() {
		let menu = document.getElementById('dropdown-content');

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}

	function fecharlista() {
		let menu = document.getElementById('dropdown-content');

		menu.style.display = 'none';
	}
</script>
{% endblock %}