{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Cadastro de Evento </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Cadastro de Evento </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
{% if error is not None %}
	<div class='error-overlay' onclick="this.style.display='none'">
		<div class='error-popup' onclick="this.parentElement.style.display='none'">
			<h2>Aviso</h2>
			<button class='error-close' style='border: 0; background-color: transparent;'>&times;</button>
			<div class='error-content'>
				<p>{{ error }}</p>
			</div>
		</div>
	</div>
{% endif %}

<div class='form'>
	<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'event-list' %}`" aria-label='retornar'>
		<i class='fas fa-arrow-circle-left'></i>
	</button>
	<form autocomplete='off' method='post' action='.' enctype='multipart/form-data'>
		{% csrf_token  %}
		<div class='form-file-block'>
			<div class='preview'>
				{% if event.arquivo %}
					<img src='{{ event.arquivo.url }}' alt='Prévia' id='preview_image' style='display: block;'>
					<span id='preview_icon' style='display: none;'>
						<i class='fas fa-calendar-week'></i>
					</span>
				{% else %}
					<img src='' alt='Prévia' id='preview_image'>
					<span id='preview_icon'>
						<i class='fas fa-calendar-week'></i>
					</span>
				{% endif %}
			</div>

			<div class='form-file'>
				{% if event.arquivo %}
					<label for='logo_botao'>Logo do evento</label>
				{% else %}
					<label for='logo_botao'>Logo do evento *</label>
				{% endif %}
				
				<button 
					id='logo_botao' 
					type='button' 
					class='file' 
					onclick='selecionarArquivo()'
					onmouseenter='ajudaVoz(`Escolher logo do evento`)'
				>
					Selecione um logo
				</button>

				<div class='input-file-hidden'>
					{% if event.arquivo %}
						<input aria-hidden='true' type='file' accept='image/*' name='arquivo' id='arquivo'/>
					{% else %}
						<input aria-hidden='true' type='file' accept='image/*' name='arquivo' id='arquivo' required />
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class='form-group'>
			<div class='form-block'>
				<label for='titulo'>Titulo *</label>
				<input 
					type='text'
					id='titulo' 
					name='titulo' 
					required 
					placeholder='Preencha com o titulo'
					maxlength='50' 
					value='{{ event.titulo }}'
					onmouseenter='ajudaVoz(`Preencher com o titulo`)' 
				>
			</div>
			<div class='form-block'>
				<label for='data_exp'>Data de expiração *</label>
				<input
					type='date'
					id='data_exp'
					name='data_exp'
					required
					title='Preencha campo com uma data válida' 
					value='{{ event.data_exp|date:"Y-m-d" }}'
					onmouseenter='ajudaVoz(`Escolher uma data`)'
					oninput="setCustomValidity('')" 
					oninvalid="setCustomValidity('Preencher campo com uma data válida')"
				>
			</div>
		</div>

		<div class='form-block' style='margin-top: 15px'>
			<label for='descricao'>Descrição *</label>
			<textarea 
				id='descricao' 
				name='descricao' 
				placeholder='Preencha com uma descrição' 
				maxlength='150' 
				required 
				onmouseenter='ajudaVoz(`Preencher com uma descrição`)'
			>{{ event.descricao }}</textarea>
		</div>

		<button type='submit'>Salvar</button>
	</form>
</div>
<script>
	const input = document.getElementById('arquivo');
	const imagem = document.getElementById('preview_image')
	const icone = document.getElementById('preview_icon');

	input.addEventListener('change', function() {
		const arquivo = this.files[0];

		if (arquivo) {
			const leitor = new FileReader();

			icone.style.display = 'none';
			imagem.style.display = 'flex';

			leitor.addEventListener('load', function() {
				imagem.setAttribute('src', this.result);	
			});

			leitor.readAsDataURL(arquivo);
		}
	});

	function selecionarArquivo() {
		input.click();
	}

	$("input, textarea").keydown(function(evento) {
		let texto_entrada = evento.key;

		if(/[a-zA-Z0-9\s\@\-\&\*\(\)\!]/.test(texto_entrada)) {
			audio(`${texto_entrada}`);
		}
	});
</script>
{% endblock %}