{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Eventos </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Eventos </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	<button class='create' onclick="window.location.href= `{% url 'event-form' %}`">
		<p>Novo</p>
	</button>

	{% if event_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por título...'>
				<button aria-label='Pesquisar evento' class='search-button' type='button' onclick='pesquisaEvento()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Titulo</th>
							<th>Data de Expiração</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for event in event_list %}
							<tr>
								<td>{{ event.titulo }}</td>
								<td>{{ event.data_exp }}</td>
								<td>
									<div class='dropdown' onmouseleave='fecharlista(`{{ event.id }}`)'>
										<button class='dropdown-button' onclick='exibirlista(`{{ event.id }}`)'>
											Lista de opções
										</button>
										<div id='{{ event.id }}' class='dropdown-content'>
											<a href="{% url 'event-edit' event.id %}">Editar</a>
											<form method='post' action="{% url 'event-delete' event.id %}">
												{% csrf_token %}
												<button style='cursor: pointer;' type='submit'>Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert' onclick="window.location.href = `{% url 'event-form' %}`" style='cursor: pointer;'>
		  		<strong>Aviso!</strong>
		  		<small>
		  			Você ainda não possui eventos cadastrados
				</small>
				<button class='alert-button'>Novo evento</button>
			</div>
		</div>
	{% endif %}
</div>
<script>
	function exibirlista(id) {
		let menu = document.getElementById(id);

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}

	function fecharlista(id) {
		let menu = document.getElementById(id);

		menu.style.display = 'none';
	}

	$("input").keydown(function(evento) {
		let texto_entrada = evento.key;

		if(/[a-zA-Z0-9\s\@\-\&\*\(\)\!]/.test(texto_entrada)) {
			audio(`${texto_entrada}`);
		}
	});
</script>
{% endblock %}