{% extends 'base.html' %}

{% block content %}
	<div class='item'>
		<button style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'job-list' %}`" aria-label='retornar'>
			<i class='fas fa-arrow-circle-left'></i>
		</button>
		<header>
			<strong>{{ job.titulo }}</strong>
		</header>
		<div class='item-image'>
			<img src='{{ job.arquivo }}' alt='Imagem da vaga de emprego {{ job.titulo }}' crossorigin/>
		</div>
		<div class='item-content'>
			<p>Empresa: {{ job.razao_social }}</p>
			<p>E-mail de contato: {{ job.email }}</p>
			<p>Data de expiração: {{ job.data_exp }}</p>
			<p>{{ job.descricao }}</p>
		</div>
	</div>
{% endblock %}