{% extends 'base.html' %}

{% block content %}
	<div class='item'>
		<button style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'job-list' %}`" aria-label='retornar'>
			<i class='fas fa-arrow-circle-left'></i>
		</button>
		<header>
			<strong onmouseenter='ajudaVoz(`{{ job.titulo }}`)'>{{ job.titulo }}</strong>
		</header>
		<div class='item-image'>
			<img src='{{ job.arquivo }}' alt='Imagem da vaga de emprego {{ job.titulo }}' crossorigin/>
		</div>
		<div class='item-content'>
			<p onmouseenter='ajudaVoz(`Empresa: {{ job.razao_social }}`)'>Empresa: {{ job.razao_social }}</p>
			<p onmouseenter='ajudaVoz(`E-mail de contato: {{ job.email }}`)'>E-mail de contato: {{ job.email }}</p>
			<p onmouseenter='ajudaVoz(`Data de expiração: {{ job.data_exp }}`)'>Data de expiração: {{ job.data_exp }}</p>
			<p onmouseenter='ajudaVoz(`{{ job.descricao }}`)'>{{ job.descricao }}</p>
		</div>
	</div>
{% endblock %}