{% extends 'login/index.html' %}
{% load static %}

{% block login-header %}
    <img src="{% static 'assets/ciapd.svg' %}" alt='CIAPD' />
    <strong>Esqueci meus dados</strong>
    <p>Como posso recuperá-los??</p>
{% endblock %}

{% block login-content %}
    <div class='content-forgot'>
        <img src="{% static 'assets/padlock.svg' %}" alt='Segurança' />
        <p>
            Para recuperar as suas informações de acesso é muito simples. 
            Basta contatar o superadministrador do CIAPD e informar a situação, 
            então ele irá trocar a sua senha.
        </p>
        <button 
            class='login-admin' 
            onclick="window.location.href=`{% url 'login' %}`" 
        >
            Voltar
        </button>
    </div>
{% endblock %}