@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.leitor-selecionar {
    border: 0.313em solid rgb(0, 191, 255, 0.7);
}

.background {
    background: #000 url('../assets/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

.login-error-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.login-error-overlay .login-error-popup {
  margin: 4.375em auto;
  padding: 1.250em;
  background: #fff;
  border-radius: 0.313em;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 2;
}

.login-error-overlay .login-error-popup h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  margin-bottom: 0.938em;
  font-weight: bold;
}

.login-error-overlay .login-error-popup .login-error-close {
  position: absolute;
  top: 15px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.login-error-overlay .login-error-popup .login-error-close:hover {
  color: #06D85F;
}

.login-error-overlay .login-error-popup .login-error-content {
  max-height: 30%;
  overflow: auto;
}

.login-error-overlay .login-error-popup .login-error-content p {
    font-size: 1em;
    color: #666;
    text-align: center;
}

.container {
    margin: 0% auto 0;
    padding-top: 3%;
    max-width: 28.125em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    background: #FFF;
    margin-top: 3.125em;
    border-radius: 4px;
    padding: 1.875em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > img {
    width: 35%;
    height: 35%;
}

.header > strong {
    font-size: 1.250em;
    line-height: 1.875em;
    margin-top: 1.250em;
}

.header > p {
    font-size: 1em;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form label {
    font-size: 0.875em;
    color: #444;
    font-weight: bold;
    margin-bottom: 0.500em;
}

.content form input {
    margin-bottom: 1.250em;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 2.813em;
    padding: 0 0.938em;
    font-size: 1em;
}

.content form .checkbox {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.250em;
}

.content form .checkbox label.checkbox-label {
    display: block;
    position: relative;
    padding-left: 1.688em;
    margin-bottom: 0.750em;
    cursor: pointer;
    font-size: 0.875em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content form .checkbox label.checkbox-label input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.content form .checkbox label.checkbox-label span {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.938em;
  width: 0.938em;
  background-color: #EEE;
  border-radius: 50%;
}

.content form .checkbox label.checkbox-label:hover input[type='checkbox'] ~.checkmark {
  background-color: #CCC
}

.content form .checkbox label.checkbox-label input[type='checkbox']:checked ~.checkmark {
  background-color: #2196F3;
}

.content form .checkbox label.checkbox-label .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 0.313em;
  top: 0px;
  width: 3px;
  height: 0.625em;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content form .checkbox label.checkbox-label input[type='checkbox']:checked ~.checkmark:after {
  display: block;
}

.content button.login-admin {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 2.625em;
    padding: 0 1.250em;
    font-size: 1em;
    font-weight: bold;
    background: #222;
    color: #FFF;
    cursor: pointer;
}

.content button.login-admin:hover {
    background: #444;
}

.content button[type='submit']:disabled {
  background: #DDD;
}

.content button[type='button']:disabled {
  background: #DDD;
}

.content .help {
    display: flex;
    flex-direction: column;
    padding: 0.313em;
    margin-bottom: 1.250em;
}

.content .help small {
    margin-top: -1.250em;
    color: #666;
    margin-bottom: 0.313em;
    font-size: 0.750em;
}

.content .help p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    line-height: 1.500em;
    margin-top: 0.313em;
}

.content .help a{
    margin: 0.625em 0;
    font-size: 0.875em;
    text-decoration: none;
    color: #0047c1;
}

.content .help a:hover{
    text-decoration: underline;
}

.content-readmore {
    text-align: center;
}

.content-readmore > img {
    width: 35%;
    height: 35%;
}

.content-readmore > p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    line-height: 1.500em;
    margin-top: 1.250em;
    margin-bottom: 1.250em;
    text-align: left;
}

.content-readmore a {
    margin: 0.625em 0;
    font-size: 0.875em;
    text-decoration: none;
    color: #0047c1;
}

.content-readmore a:hover {
    text-decoration: underline;
}

.content-forgot {
    text-align: center;
}

.content-forgot > img {
    width: 35%;
    height: 35%;
}

.content-forgot > p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    line-height: 1.500em;
    margin-top: 1.250em;
    margin-bottom: 1.250em;
    text-align: left;
}

.content-contact > img {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    margin: 0.25em auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.content-contact > p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    line-height: 1.500em;
    margin-top: 1.250em;
    margin-bottom: 1.250em;
    text-align: left;
}

.content-contact a {
    margin: 0.625em 0;
    font-size: 0.875em;
    text-decoration: none;
    color: #0047c1;
}

.content-contact a:hover {
    text-decoration: underline;
}

form.webcam .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}