{% load static %}
<!DOCTYPE html>
<html lang='pt'>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <script src='https://kit.fontawesome.com/50797efa34.js'></script>
    <link rel='shortcut icon' href="{% static 'assets/favicon.ico' %}" />
    <link rel='stylesheet' type='text/css' href="{% static '/css/base.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/list.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/form.css' %}">
    <script src='https://kit.fontawesome.com/50797efa34.js'></script>
    <script src='https://apis.google.com/js/api.js'></script>
    <script type='text/javascript' src="{% static '/javascript/search.js' %}"></script>
    <script type='text/javascript' src="{% static '/javascript/mask.js' %}"></script>
    <script type='text/javascript' src="{% static '/javascript/validate.js' %}"></script>
    <script type='text/javascript' src="{% static '/javascript/voice.js' %}"></script>
    <title>CIAPD - Administrativo</title>
</head>
<body>
    <div class='header'>
        <header>
            <div class='admin-info'>
                {% if request.user.is_authenticated %}
                    <img src='{{ request.user.foto.url }}' alt='Foto do {{ request.user.nome }}'>
                {% else %}
                    <i class='fas fa-user-secret'></i>
                {% endif %}
            </div>
            {% block header %}
            {% endblock %}
        </header>
    </div>
    <div class='container'>
        <aside class='navbar'>
            <nav class='container-home'>
                <img 
                    src="{% static 'assets/ciapdwhite.svg' %}" 
                    alt='Logo do CIAPD' 
                />
                <ul>
                    <li>
                        <i class='fas fa-home'>
                            Administrativo
                        </i>
                    </li>
                </ul>
            </nav>
            <nav class='container-accounts'>
                <br/><strong>Contas</strong>
                <ul>
                    <li>
                        <a href="{% url 'admin-list' %}" aria-label='administradores'>
                            <i class='fas fa-user-shield'>
                                Administradores
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student-list' %}" aria-label='alunos'>
                            <i class='fas fa-user-graduate'>
                                Alunos
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'company-list' %}" aria-label='empresas'>
                            <i class='fas fa-user-tie'>
                                Empresas
                            </i>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class='container-content'>
                <br/><strong>Contéudo</strong>
                <ul>
                    <li>
                        <a href="{% url 'curriculum-list' %}" aria-label='currículos'>
                            <i class='fas fa-sticky-note'>
                                Currículos
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'course-list' %}" aria-label='cursos'>
                            <i class='fas fa-book'>
                                Cursos
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'event-list' %}" aria-label='eventos'>
                            <i class='fas fa-palette'>
                                Eventos culturais
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'game-list' %}" aria-label='jogos'>
                            <i class='fas fa-gamepad'>
                                Jogos
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'job-list' %}" aria-label='vagas de emprego'>
                            <i class='fas fa-briefcase'>
                                Vagas de emprego
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'videolesson-list' %}" aria-label='video-aulas'>
                            <i class='fab fa-youtube'>
                                Video-aulas
                            </i>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class='container-actions'>
                <ul>
                    <li>
                        <a href="{% url 'logout' %}" aria-label='sair'>
                            <i class='fas fa-sign-out-alt'>
                                Sair
                            </i>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class='main'>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>