.error-overlay {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.error-overlay .error-popup {
  margin: 4.375em auto;
  padding: 1.250em;
  background: #fff;
  border-radius: 0.313em;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 2;
}

.error-overlay .error-popup h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  margin-bottom: 0.938em;
  font-weight: bold;
}

.error-overlay .error-popup .error-close {
  position: absolute;
  top: 15px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.error-overlay .error-popup .error-close:hover {
  color: #06D85F;
}

.error-overlay .error-popup .error-content {
  max-height: 30%;
  overflow: auto;
}

.error-overlay .error-popup .error-content p {
  font-size: 1em;
  color: #666;
  text-align: center;
}

.form {
	font-family: arial, sans;
  width: 93.750em;
  max-width: 100%;
  padding: 1.875em;
  background: #FFFFFF;
  margin: 2.500em auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form .form-button-return {
	float: left;
	margin-top: -1em;
	margin-bottom: 1.250em;
}

.form .form-button-return i {
	color: #444;
	font-size: 1.5em;
	transition: color 0.5;
}

.form .form-button-return i:hover {
	cursor: pointer;
	color: #777;
}

.form form .form-block + .form-block {
    margin-top: 0.938em;
}

.form form .form-group {
    margin-top: 0.938em;
    display: grid;
    gap: 3.125em;
    grid-template-columns: 1fr 1fr;
}

.form form .form-group .form-block {
    margin-top: 0;
}

.form form div#description {
	margin-top: 0.938em;
}

.form form .form-block label {
	color: #999;
    font-size: 1em;
    font-weight: bold;
    display: block;
}

.form form .form-block a.download:link, a.download:visited {
  margin-top: 0.625em;
  background-color: #4054C2;
  color: #FFF;
  padding: 0.88em 1.56em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.form form .form-block a.download:active, a.download:hover {
  background-color: #4D65E9;
}

.form form .form-block a.pdf:link, a.pdf:visited {
  margin-top: 0.625em;
  background-color: #11C78D;
  color: #FFF;
  padding: 0.88em 1.56em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.form form .form-block a.pdf:active, a.pdf:hover {
  background-color: #14D99A;
}

.form form input[type='text'], input[type='date'], input[type='email'], input[type='password'], textarea, select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 0.438em;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 0.625em;
	font: 1em Arial, Helvetica, sans-serif;
	height: 2.813em;
}

.form form input[type='text']:required:valid,
.form form input[type='date']:required:valid,
.form form textarea:required:valid {
	border-bottom: 1px solid #ddd;
}

.form form input[type='text']:required:focus:invalid:not(:placeholder-shown),
.form form input[type='date']:required:focus:invalid:not(:placeholder-shown),
.form form textarea:required:focus:invalid:not(:placeholder-shown) {
	border-bottom: 2px solid #cc0000;
}

.form form textarea{
	resize:none;
	overflow: hidden;
}

.form form .form-file-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: -0.5em;
	margin-bottom: 1.875em;
}

.form form .form-file-block .form-file {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form form .form-file-block .form-file button.file {
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	width: 11.563em;
  	height: 2.813em;
  	border: 1px solid #333;
  	border-radius: 0.625em;
  	color: #333;
  	background-color: #FFF;
  	cursor: pointer;
  	transition: all 0.5s;
  	font-size: 1.125em;
    margin-left: 0.938em;
    margin-top: 0.625em;
}

.form form .form-file-block .form-file button.file:hover {
  	border: 0;
  	color: #FFF;
  	background-color: #333;
}

.form form .form-file-block .form-file label {
	color: #999;
  	font-size: 1em;
  	font-weight: bold;
  	display: flex;
}

.form form .form-file-block .form-file .input-file-hidden {
  	width: 0;
  	height: 0;
  	overflow: hidden;
}

.form form .form-file-block .form-file .input-file-hidden input[type='file'] {
  	display: none;
}

.form form .form-file-block .preview {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 5.625em;
    height: 5.625em;
    border: 2px solid #444;
    border-radius: 50%;
	background-color: #FFF;
	color: #444;
}

.form form .form-file-block .preview img {
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.form form .form-file-block .preview span i {
	font-size: 2em;
}

.form form button[type='submit'] {
	margin: 1.875em auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25em;
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
	border: 0;
	cursor: pointer;
  transition: background-color 0.5s;
  background-color: #333;
  border-radius: 2px;
  padding: 0.938em 1.250em;
}

.form form button[type='submit']:hover {
  background-color: #555;
}

.form form button[type='submit']:disabled {
  background-color: #DDD;
}