{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Empresas </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Empresas </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	<button class='create' onclick="window.location.href= `{% url 'company-form' %}`">
		<p>Novo</p>
	</button>

	{% if company_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por razão social...'>
				<button class='search-button' type='button' onclick='pesquisaEmpresa()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Logo</th>
							<th>Razão Social</th>
							<th>CNPJ</th>
							<th>E-mail</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for company in company_list %}
							<tr>
								<td>
									<img src='{{ company.logo.url }}' alt='Logo da empresa {{ company.razao_social }}'>
								</td>
								<td>{{ company.razao_social }}</td>
								<td>{{ company.cnpj }}</td>
								<td>{{ company.email }}</td>
								<td>
									<div class='dropdown'>
										<button class='dropdown-button'>
											Lista de opções
										</button>
										<div class='dropdown-content'>
											<a href="{% url 'company-edit' company.id %}">Editar</a>
											<form method='post' action="{% url 'company-delete' company.id %}">
												{% csrf_token %}
												<button type="submit">Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert' onclick="window.location.href = `{% url 'company-form' %}`" style='cursor: pointer;'>
		  		<strong>Aviso!</strong> 
		  		<small>
		  			Você ainda não possui empresas cadastradas
		  		</small>
		  		<button class='alert-button'>Nova empresa</button>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}