{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class='item'>
		<button style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'event-list' %}`" aria-label='retornar'>
			<i class='fas fa-arrow-circle-left'></i>
		</button>
		<header>
			<strong onmouseenter='ajudaVoz(`{{ event.titulo }}`)'>{{ event.titulo }}</strong>
		</header>
		<div class='item-image'>
			<img src='{{ event.arquivo }}' alt='Imagem do evento {{ event.titulo }}' crossorigin/>
		</div>
		<div class='item-content'>
			<p onmouseenter='ajudaVoz(`Data de expiração: {{ event.data_exp }}`)'>Data de expiração: {{ event.data_exp }}</p>
			<p onmouseenter='ajudaVoz(`{{ event.descricao }}`)'>{{ event.descricao }}</p>
		</div>
	</div>
{% endblock %}