{% load static %}
<!DOCTYPE html>
<html lang='pt'>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel='shortcut icon' href="{% static 'assets/favicon.ico' %}" />
    <link rel='stylesheet' type='text/css' href="{% static '/css/base.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/form.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/list.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/item.css' %}">
    <script src='https://kit.fontawesome.com/50797efa34.js'></script>
    <script src='https://apis.google.com/js/api.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    {% if request.user.ajuda_voz %}
        <script type='text/javascript' src="{% static '/javascript/voice.js' %}"></script>
    {% endif %}
    {% if request.user.leitor_tela %}
        <script type='text/javascript' src="{% static '/javascript/reader.js' %}"></script>
    {% endif %}
    <title>CIAPD - Portal do Aluno</title>
</head>
<body>
    <div class='header'>
        <header>
            <nav class='header-options'>
                <ul>
                    <li>
                        <a href="{% url 'curriculum-form' %}" aria-label='currículo'>Curriculo</a>
                    </li>
                    <li>
                        <a href="{% url 'job-list' %}" aria-label='empregos'>Empregos</a>
                    </li>
                    <li>
                        <a href="{% url 'course-list' %}" aria-label='cursos'>Cursos</a>
                    </li>
                    <li>
                        <a href="{% url 'event-list' %}" aria-label='eventos'>Eventos</a>
                    </li>
                    <li>
                        <a href="{% url 'game-list' %}" aria-label='jogos'>
                            Jogos
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'videolesson-list' %}" aria-label='video-aulas'>
                            Video-aulas
                        </a>
                    </li>
                    <button class='header-button' onclick="window.location.href=`{% url 'logout' %}`">
                        Sair
                    </button>
                </ul>
            </nav>
        </header>
    </div>
    <main class='main'>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>