{% extends 'base.html' %}

{% block content %}
{% if error is not None %}
	<div class='error-overlay'>
		<div class='error-popup' onclick="this.parentElement.style.display='none'">
			<h2>Aviso</h2>
			<button class='error-close' style='border: 0; background-color: transparent;'>&times;</button>
			<div class='error-content'>
				<p>{{ error }}</p>
			</div>
		</div>
	</div>
{% endif %}

<div class='form'>
	<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'home' %}`" aria-label='retornar'>
		<i class='fas fa-arrow-circle-left'></i>
	</button>
	<form autocomplete='off' method='post' action='.'>
		{% csrf_token %}
		<div class='form-block'>
			<label for='instituicao_ensino'>Instituições de ensino</label>
			<textarea id='instituicao_ensino' name='instituicao_ensino' maxlength='100' required placeholder='Preencha com as instituições de ensino frequentadas'>{{ curriculum.instituicao_ensino }}</textarea>
		</div>

		<div class='form-block'>
			<label for='curso_extra'>Cursos extras</label>
			<textarea id='curso_extra' name='curso_extra' maxlength='100' required placeholder='Preencha com cursos realizados'>{{ curriculum.curso_extra }}</textarea>
		</div>

		<div class='form-block'>
			<label for='empresa'>Empresas trabalhadas</label>
			<textarea id='empresa' name='empresa' maxlength='100' required placeholder='Preencha com as empresas trabalhadas'>{{ curriculum.empresa }}</textarea>
		</div>
		
		<div class='form-block'>
			<label for='cargo'>Cargos ocupados</label>
			<textarea id='cargo' name='cargo' maxlength='100' required placeholder='Preencha com os cargos ocupados'>{{ curriculum.cargo }}</textarea>
		</div>

		<button type='submit'>Salvar</button>
	</form>
</div>
{% endblock %}