{% load static %}
<!DOCTYPE html>
<html lang='pt'>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <script src='https://kit.fontawesome.com/50797efa34.js'></script>
    <link rel='shortcut icon' href="{% static 'assets/favicon.ico' %}" />
    <link rel='stylesheet' type='text/css' href="{% static '/css/base.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/list.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static '/css/form.css' %}">
    <script src='https://apis.google.com/js/api.js'></script>
    <script type='text/javascript' src="{% static '/javascript/search.js' %}"></script>
    <title>CIAPD - Empresa</title>
</head>
<body>
    <div class='header'>
            <header>
                <div class='company-info'>
                    <img src='{{ request.user.logo }}' alt='Logo da empresa {{ request.user.razao_social }}'>
                </div>
                <div class='page-info'>
                    {% block header %}
                    {% endblock %}
                </div>
            </header>
    </div>
    <div class='container'>
        <aside class='navbar'>
            <nav class='container-home'>
                <img 
                    src="{% static 'assets/ciapdwhite.svg' %}" 
                    alt='Logo do CIAPD' 
                />
                <ul>
                    <li>
                        <i class='fas fa-home'>
                            Empresarial
                        </i>
                    </li>
                </ul>
            </nav>
            <nav class='container-options'>
                <br/><strong>Opções</strong>
                <ul>
                    <li>
                        <a href="{% url 'job-list' %}" aria-label='vagas disponíveis'>
                            <i class='fas fa-briefcase'>
                                Vagas disponíveis
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student-list' %}" aria-label='consultar candidatos'>
                            <i class='fas fa-search'>
                                Consultar candidatos
                            </i>
                        </a>
                    </li>
                </ul>
            </nav>    
            <nav class='container-actions'>
                <ul>
                    <li>
                        <a href="{% url 'changepassword' %}" aria-label='trocar senha'>
                            <i class='fas fa-key'>
                                Trocar Senha
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" aria-label='sair'>
                            <i class='fas fa-sign-out-alt'>
                                Sair
                            </i>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class='main'>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>