{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Cadastro de Aluno </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Cadastro de Aluno </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
{% if error is not None %}
	<div class='error-overlay'>
		<div class='error-popup' onclick="this.parentElement.style.display='none'">
			<h2>Aviso</h2>
			<button aria-label='Fechar aviso' class='error-close' style='border: 0; background-color: transparent;'>&times;</button>
			<div class='error-content'>
				<p>{{ error }}</p>
			</div>
		</div>
	</div>
{% endif %}

<div id='container' class='message-overlay' style='display: none;'>
	<div class='message-popup' onclick="this.parentElement.style.display='none'">
		<h2 id='title'></h2>
		<button aria-label='Fechar aviso' class='message-close' style='border: 0; background-color: transparent;'>&times;</button>
		<div class='message-content'>
			<p id='address'></p>
			<p id='district'></p>
			<p id='city'></p>
			<p id='uf'></p>
			<p id='error'></p>		
		</div>
	</div>
</div>

<div id='container_document' class='message-overlay' style='display: none;'>
	<div class='message-popup' onclick="this.parentElement.style.display='none'">
		<h2 id='title_document'></h2>
		<button class='message-close' style='border: 0; background-color: transparent;'>&times;</button>
		<div class='message-content'>
			<p id='message_document'></p>		
		</div>
	</div>
</div>

<div class='form'>
	<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'student-list' %}`" aria-label='retornar'>
		<i class='fas fa-arrow-circle-left'></i>
	</button>
	<form name='formulario_estudante' onsubmit='return validarFormularioEstudante()' autocomplete='off' method='post' action='.' enctype='multipart/form-data'>
		{% csrf_token  %}
		{% if edit is True %}
			<input aria-hidden='true' id='cep_valido' name='cep_valido' type='hidden' value='sim' />
			<input aria-hidden='true' id='cpf_valido' name='cpf_valido' type='hidden' value='sim' />
		{% else %}
			<input aria-hidden='true' id='cep_valido' name='cep_valido' type='hidden' value='' />
			<input aria-hidden='true' id='cpf_valido' name='cpf_valido' type='hidden' value='' />
		{% endif %}

		<div class='form-file-block'>
			<div class='preview'>
				{% if student.foto %}
					<img src='{{ student.foto.url }}' alt='Prévia' id='preview_image' style='display: block;'>
					<span id='preview_icon' style='display: none;'>
						<i class='far fa-user'></i>
					</span>
				{% else %}
					<img src='' alt='Prévia' id='preview_image'>
					<span id='preview_icon'>
						<i class='far fa-user'></i>
					</span>
				{% endif %}
			</div>

			<div class='form-file'>
				{% if student.foto %}
					<label for='foto_botao'>Foto do estudante</label>
				{% else %}
					<label for='foto_botao'>Foto do estudante *</label>
				{% endif %}

				<button 
					id='foto_botao' 
					type='button' 
					class='file' 
					onclick='selecionarArquivo()'
					onmouseenter='ajudaVoz(`Escolher foto do aluno`)'
				>
					Selecione uma foto
				</button>

				<div class='input-file-hidden'>
					{% if student.foto %}
						<input aria-hidden='true' type='file' accept='image/*' name='foto' id='foto'/>
					{% else %}
						<input aria-hidden='true' type='file' accept='image/*' name='foto' id='foto' required/>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class='form-group'>
			<div class='form-block'>
				<label for='nome'>Nome *</label>
				<input 
					type='text'
					id='nome' 
					name='nome' 
					required 
					placeholder='Preencha com o nome'
					pattern='[a-zA-Zà-úÀ-Ú][a-zA-Zà-úÀ-Ú\s]*'
					maxlength='45' 
					title='Preencha campo com apenas caracteres alfabéticos'
					value='{{ student.nome }}'
					onmouseenter='ajudaVoz(`Preencher nome com apenas letras`)' 
				>
			</div>
			<div class='form-block'>
				<label for='data_nasc'>Data de nascimento *</label>
				<input
					type='date'
					id='data_nasc'
					name='data_nasc'
					required
					placeholder='Preencha com a data de nascimento'
					title='Preencha campo com uma data válida' 
					value='{{ student.data_nasc|date:"Y-m-d" }}'
					onmouseenter='ajudaVoz(`Escolher uma data`)'
				>
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='email'>E-mail *</label>
				{% if edit is True %}
					<input 
						type='email'
						id='email' 
						name='email' 
						required 
						placeholder='Preencha com o e-mail'
						title='Preencha campo com o formato padrão de e-mail'
						value='{{ student.email }}' 
						readonly 
						onmouseenter='ajudaVoz(`E-mail não pode ser alterado`)' 
					>
				{% else %}
					<input 
						type='email'
						id='email' 
						name='email' 
						required 
						placeholder='Preencha com o e-mail'
						title='Preencha campo com o formato padrão de e-mail'
						value='{{ student.email }}'
						onmouseenter='ajudaVoz(`Preencher e-mail no formato padrão`)' 
					>
				{% endif %}
			</div>
			<div class='form-block'>
				{% if edit is True %}
					<label for='senha'>Senha</label>
					<input 
						type='password'
						id='senha' 
						name='senha' 
						maxlength='20' 
						minlength='6'
						pattern='.{6,}'  
						title='Preencha campo com no mínimo seis caracteres' 
						placeholder='Preencha com uma nova senha'
						value='{{ student.senha }}'
						onmouseenter='ajudaVoz(`Senha será alterada se preencher. Senha com comprimento minimo 6`)'  
					>
				{% else %}
					<label for='senha'>Senha *</label>
					<input 
						type='password'
						id='senha' 
						name='senha' 
						maxlength='20' 
						minlength='6'
						pattern='.{6,}' 
						required 
						title='Preencha campo com no mínimo seis caracteres' 
						placeholder='Preencha com a senha'
						value='{{ student.senha }}'
						onmouseenter='ajudaVoz(`Preencher senha com comprimento mínimo 6`)' 
					>
				{% endif %}
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='cpf'>CPF *</label>
				{% if edit is True %}
					<input 
						type='text'
						id='cpf' 
						name='cpf' 
						required 
						placeholder='Preencha com o CPF'
						maxlength='14'
						pattern='[0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[-][0-9]{2}' 
						title='Preencha campo com o formato padrão de CPF' 
						onkeypress="mascaraCPF(this)"
						onblur="validarCPF(this)"
						value='{{ student.cpf }}'
						readonly
						onmouseenter='ajudaVoz(`CPF não pode ser alterado`)'  
					>
				{% else %}
					<input 
						type='text'
						id='cpf' 
						name='cpf' 
						required 
						placeholder='Preencha com o CPF'
						maxlength='14'
						pattern='[0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[-][0-9]{2}' 
						title='Preencha campo com o formato padrão de CPF' 
						onkeypress="mascaraCPF(this)"
						onblur="validarCPF(this)"
						value='{{ student.cpf }}'
						onmouseenter='ajudaVoz(`Preencher CPF no formato padrão`)' 
					>
				{% endif %}
			</div>
			<div class='form-block'>
				<label for='celular'>Celular *</label>
				<input 
					type='text'
					id='celular' 
					name='celular'
					required
					placeholder='Preencha com o número de telefone celular'
					pattern='[\(][0-9]{2}[\)][\s]{1}[0-9]{5}[-][0-9]{4}' 
					title='Preencha campo com o formato padrão de celular' 
					maxlength='15'
					onkeypress="mascaraCelular(this)"
					value='{{ student.celular }}'
					onmouseenter='ajudaVoz(`Preencher celular no formato padrão`)' 
				>
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='cep'>CEP *</label>
				<input 
					type='text'
					id='cep' 
					name='cep' 
					required 
					placeholder='Preencha com o CEP'
					maxlength='10'
					title='Preencha campo com o formato padrão de CEP' 
					pattern='[0-9]{2}[\.][0-9]{3}[-][0-9]{3}' 
					onkeypress="mascaraCEP(this)" 
					onblur="validarCEP(this)" 
					value='{{ student.cep }}'
					onmouseenter='ajudaVoz(`Preencher CEP no formato padrão`)' 
				>
			</div>
			<div class='form-block'>
				<label for='numero'>Número *</label>
				<input 
					type='text'
					id='numero' 
					name='numero'
					pattern='[0-9]*' 
					required 
					placeholder='Preencha com o número da residência'
					title='Preencha campo com apenas caracteres númericos' 
					maxlength='5'
					value='{{ student.numero }}'
					onmouseenter='ajudaVoz(`Preencher com apenas números`)' 
				>
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='cid'>CID *</label>
				<select multiple id='cid' name='cid' title='Selecione múltiplos itens' onmouseenter='ajudaVoz(`Escolher CIDs`)'>
					{% for item in cid_list %}
						<option value='{{ item.pk }}'>{{ item.codigo }}: {{ item.descricao }}</option>
					{% endfor %}
				</select>
			</div>
			<div class='form-block'>
				<label for='outra_info'>Outras informações</label>
				<textarea id='outra_info' name='outra_info' placeholder='Preencha com outras informações relevantes' maxlength='100' onmouseenter='ajudaVoz(`Preencher com outras informações`)'>{{ student.outra_info }}</textarea>
			</div>
		</div>

		<div class='form-group-checkbox'>
			<div class='form-block-checkbox'>
				<label 
					id='label_ajuda_voz' 
					for='ajuda_voz' 
					class='checkbox-label'
					onmouseenter='ajudaVoz(`Habilitar ajuda por voz`)'
				>
					Ajuda por voz
					{% if student.ajuda_voz is True %}
						<input aria-hidden='true' type='checkbox' id='ajuda_voz' name='ajuda_voz' value='sim' checked onclick='selecionarAjuda()'>
						<input aria-hidden='true' id='ajuda_hidden' type='hidden' value='nao' name='ajuda_voz' disabled>
					{% else %}
						<input aria-hidden='true' type='checkbox' id='ajuda_voz' name='ajuda_voz' value='sim' onclick='selecionarAjuda()'>
						<input aria-hidden='true' id='ajuda_hidden' type='hidden' value='nao' name='ajuda_voz'>
					{% endif %}
  					<span class='checkmark'></span>
				</label>
			</div>
			<div class='form-block-checkbox'>
				<label 
					id='label_leitor_tela' 
					for='leitor_tela' 
					class='checkbox-label'
					onmouseenter='ajudaVoz(`Habilitar leitor de tela`)'
				>
					Leitor de tela
					{% if student.leitor_tela is True %}
						<input aria-hidden='true' type='checkbox' id='leitor_tela' name='leitor_tela' value='sim' checked onclick='selecionarLeitor()'>
						<input aria-hidden='true' id='leitor_tela_hidden' type='hidden' value='nao' name='leitor_tela' disabled>
					{% else %}
						<input aria-hidden='true' type='checkbox' id='leitor_tela' name='leitor_tela' value='sim' onclick='selecionarLeitor()'>
						<input aria-hidden='true' id='leitor_tela_hidden' type='hidden' value='nao' name='leitor_tela'>
					{% endif %}
  					<span class='checkmark'></span>
				</label>
			</div>
		</div>

		<button type='submit'>Salvar</button>
	</form>
</div>
<script>
	const input = document.getElementById('foto');
	const imagem = document.getElementById('preview_image')
	const icone = document.getElementById('preview_icon');

	const label_leitor = document.getElementById('label_leitor_tela');
	const label_ajuda = document.getElementById('label_ajuda_voz');

	label_leitor.addEventListener('keyup', function(evento) {
  		if (evento.keyCode === 13) {
    		document.getElementById('leitor_tela').click();
  		}
	});

	label_ajuda.addEventListener('keyup', function(evento) {
		if (evento.keyCode === 13) {
    		document.getElementById('ajuda_voz').click();
  		}
	});

	input.addEventListener('change', function() {
		const arquivo = this.files[0];

		if (arquivo) {
			const leitor = new FileReader();

			icone.style.display = 'none';
			imagem.style.display = 'flex';

			leitor.addEventListener('load', function() {
				imagem.setAttribute('src', this.result);	
			});

			leitor.readAsDataURL(arquivo);
		}
	});

	function selecionarArquivo() {
		input.click();
	}

	function selecionarAjuda() {
		if(document.getElementById('ajuda_voz').checked) {
    		document.getElementById('ajuda_hidden').disabled = true;
		} else {
			document.getElementById('ajuda_hidden').disabled = false;
		}
	}

	function selecionarLeitor() {
		if(document.getElementById('leitor_tela').checked) {
    		document.getElementById('leitor_tela_hidden').disabled = true;
		} else {
			document.getElementById('leitor_tela_hidden').disabled = false;
		}
	}

	$("input, textarea").keydown(function(evento) {
		let texto_entrada = evento.key;

		if(/[a-zA-Z0-9\s\@\-\&\*\(\)\!]/.test(texto_entrada)) {
			audio(`${texto_entrada}`);
		}
	});

	$("option").keydown(function(evento) {
		if (evento.keyCode === 32 && evento.shiftKey) {
			if ($(this).attr('selected')) {
				$(this).attr('selected', false);
			} else {
				$(this).attr('selected', true);
			}
		}
	});
</script>
{% endblock %}