{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Alunos </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Alunos </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	<button class='create' onclick="window.location.href= `{% url 'student-form' %}`">
		<p>Novo</p>
	</button>

	{% if student_list|length > 0  %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por nome...'>
				<button class='search-button' type='button' onclick='pesquisaAluno()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Foto</th>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Data de nascimento</th>
							<th>CIDs</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for student in student_list %}
							<tr>
								<td>
									<img src='{{ student.foto.url }}'>
								</td>
								<td>{{ student.nome }}</td>
								<td>{{ student.email }}</td>
								<td>{{ student.data_nasc }}</td>
								<td>
									{% for cid in student.cid.all %}
										{{ cid.codigo }}
									{% endfor %}
								</td>
								<td>
									<div class='dropdown' onmouseleave='fecharlista(`{{ student.id }}`)'>
										<button class='dropdown-button' onclick='exibirlista(`{{ student.id }}`)'>
											Lista de opções
										</button>
										<div id='{{ student.id }}' class='dropdown-content'>
											<a href="{% url 'student-edit' student.id %}">Editar</a>
											<form method='post' action="{% url 'student-delete' student.id %}">
												{% csrf_token %}
												<button style='cursor: pointer;' type='submit'>Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert' onclick="window.location.href = `{% url 'student-form' %}`" style='cursor: pointer;'>
		  		<strong>Aviso!</strong>
		  		<small>
		  			Você ainda não possui alunos cadastrados
				</small>
				<button class='alert-button'>Novo aluno</button>
			</div>
		</div>
	{% endif %}
</div>
<script>
	function exibirlista(id) {
		let menu = document.getElementById(id);

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}

	function fecharlista(id) {
		let menu = document.getElementById(id);

		menu.style.display = 'none';
	}
</script>
{% endblock %}