{% extends 'base.html' %}

{% block content %}
   <div class='list'>
   		<nav>
   			<ul>
   				<li class='option-item'>
   				  <a href="{% url 'curriculum-form' %}" aria-label='currículo'>
   				   	<i class='fas fa-pen'>
   				   		Currículo
   				   	</i>
   					</a>
          </li>

          <li class='option-item'>
            <a href="{% url 'job-list' %}" aria-label='empregos'>
              <i class='fas fa-clipboard-list'>
                Empregos
              </i>
            </a>
          </li>
          
          <li class='option-item'>
            <a href="{% url 'course-list' %}" aria-label='cursos'>
             	<i class='fas fa-book'>
                Cursos
              </i>
            </a>
          </li>
                
          <li class='option-item'>
           	<a href="{% url 'event-list' %}" aria-label='eventos'>
           		<i class='fas fa-palette'>
                Eventos
              </i>
            </a>
          </li>
                
          <li class='option-item'>
            <a href="{% url 'game-list' %}" aria-label='jogos'>
             	<i class='fas fa-gamepad'>
                Jogos
              </i>
           	</a>
          </li>
                
          <li class='option-item'>
            <a href="{% url 'videolesson-list' %}" aria-label='video-aulas'>
             	<i class='fab fa-youtube'>
                Video-aulas
              </i>
            </a>
          </li>
   			</ul>
   		</nav>
   </div>
{% endblock %}