{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Vagas </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Vagas </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	{% if job_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por título...'>
				<button class='search-button' type='button' onclick='pesquisaVaga()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Titulo</th>
							<th>Razão Social</th>
							<th>E-mail da Empresa</th>
							<th>Data de Expiração</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for job in job_list %}
							<tr>
								<td>{{ job.titulo }}</td>
								<td>{{ job.razao_social }}</td>
								<td>{{ job.email }}</td>
								<td>{{ job.data_exp }}</td>
								<td>
									<div class='dropdown'>
										<button class='dropdown-button' onclick='exibirlista()' onmouseleave='fecharlista()'>
											Lista de opções
										</button>
										<div id='dropdown-content' class='dropdown-content'>
											<a href="{% url 'job-read' job.id %}">Visualizar</a>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert'>
		  		<strong>Aviso!</strong> 
		  		<small>
		  			Ainda não existe cadastrado vagas de emprego
		  		</small>
			</div>
		</div>
	{% endif %}
</div>
<script>
	function exibirlista() {
		let menu = document.getElementById('dropdown-content');

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}

	function fecharlista() {
		let menu = document.getElementById('dropdown-content');

		menu.style.display = 'none';
	}
</script>
{% endblock %}