{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> {{ job.titulo }} </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> {{ job.titulo }} </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='form'>
	<div class='form-button-return'>
		<i class='fas fa-arrow-circle-left' onclick="window.location.href=`{% url 'job-list' %}`"></i>
	</div>
	<form>
		<div class='form-file-block'>
			<div class='preview'>
				<img src='{{ job.arquivo }}' alt='Imagem' style='display: block;'>
			</div>
		</div>
		
		<div class='form-group'>
			<div class='form-block'>
				<label for='titulo'>Titulo</label>
				<input 
					type='text' 
					name='titulo' 
					value='{{ job.titulo }}'
					readonly 
				>
			</div>
			<div class='form-block'>
				<label for='email'>E-mail da empresa</label>
				<input 
					type='text' 
					name='email' 
					value='{{ job.email }}' 
					readonly
				>
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='data'>Data de expiração</label>
				<input
					type='date'
					name='data_exp'
					value='{{ job.data_exp|date:"Y-m-d" }}'
					readonly
				>
			</div>
			<div class='form-block'>
				<label for='descricao'>Descrição</label>
				<textarea name='descricao' readonly>{{ job.descricao }}</textarea>
			</div>
		</div>
	</form>
</div>
{% endblock %}