{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> {{ job.titulo }} </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> {{ job.titulo }} </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='form'>
	<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'job-list' %}`" aria-label='retornar'>
		<i class='fas fa-arrow-circle-left'></i>
	</button>
	<form>
		<div class='form-file-block'>
			<div class='preview'>
				<img src='{{ MEDIA_URL }}{{ job.arquivo }}' style='display: block;' alt='Imagem da vaga {{ job.titulo }}'>
			</div>
		</div>
		
		<div class='form-group'>
			<div class='form-block'>
				<label for='titulo'>Titulo</label>
				<input 
					type='text'
					id='titulo' 
					name='titulo' 
					value='{{ job.titulo }}'
					readonly 
				>
			</div>
			<div class='form-block'>
				<label for='email'>E-mail da empresa</label>
				<input 
					type='text'
					id='email' 
					name='email' 
					value='{{ job.email }}' 
					readonly
				>
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='data_exp'>Data de expiração</label>
				<input
					type='date'
					id='data_exp'
					name='data_exp'
					value='{{ job.data_exp|date:"Y-m-d" }}'
					readonly
				>
			</div>
			<div class='form-block'>
				<label for='descricao'>Descrição</label>
				<textarea id='descricao' name='descricao' readonly>{{ job.descricao }}</textarea>
			</div>
		</div>
	</form>
</div>
{% endblock %}