{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Cadastro de Administrador </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Cadastro de Administrador </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

{% if error is not None %}
	<div class='error-overlay'>
		<div class='error-popup' onclick="this.parentElement.style.display='none'">
			<h2>Aviso</h2>
			<button class='error-close' style='border: 0; background-color: transparent;'>&times;</button>
			<div class='error-content'>
				<p>{{ error }}</p>
			</div>
		</div>
	</div>
{% endif %}

<div class='form'>
	<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'admin-list' %}`" aria-label='retornar'>
		<i class='fas fa-arrow-circle-left'></i>
	</button>
	<form autocomplete='off' method='post' action='.' enctype='multipart/form-data'>
		{% csrf_token  %}
		<div class='form-file-block'>
			<div class='preview'>
				{% if administrator.foto %}
					<img src='{{ administrator.foto.url }}' alt='Prévia' id='preview_image' style='display: block;'>
					<span id='preview_icon' style='display: none;'>
						<i class='fas fa-shield-alt'></i>
					</span>
				{% else %}
					<img src='' alt='Prévia' id='preview_image'>
					<span id='preview_icon'>
						<i class='fas fa-shield-alt'></i>
					</span>
				{% endif %}
			</div>

			<div class='form-file'>
				<label for='foto_botao'>Foto do Administrador</label>
				<button id='foto_botao' type='button' class='file' onclick='selecionarArquivo()'>Selecione uma foto</button>

				<div class='input-file-hidden'>
					{% if administrator.foto %}
						<input type='file' accept='image/*' name='foto' id='foto'/>
					{% else %}
						<input type='file' accept='image/*' name='foto' id='foto' required/>
					{% endif %}
				</div>
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='nome'>Nome *</label>
				<input 
					type='text'
					id='nome' 
					name='nome' 
					required 
					placeholder='Preencha com o nome'
					title='Preencha campo com apenas caracteres alfabéticos'
					pattern='[a-zA-Zà-úÀ-Ú][a-zA-Zà-úÀ-Ú\s]*' 
					maxlength='45'
					value='{{ administrator.nome }}' 
				>
			</div>
			<div class='form-block'>
				<label for='rf'>RF *</label>
				{% if edit is True %}
					<input
						type='text'
						id='rf'
						name='rf'
						required
						placeholder='Preencha com o RF'
						pattern='[0-9]{7,8}'
						maxlength='8'
						minlength='7'
						value='{{ administrator.rf }}'
						title='Preencha campo com apenas caracteres númericos'
						readonly
					>
				{% else %}
					<input
						type='text'
						id='rf'
						name='rf'
						required
						placeholder='Preencha com o RF'
						pattern='[0-9]{7,8}'
						maxlength='8'
						minlength='7'
						value='{{ administrator.rf }}'
						title='Preencha campo com apenas caracteres númericos'
					>
				{% endif %}
			</div>
		</div>

		<div class='form-group'>
			<div class='form-block'>
				<label for='email'>E-mail *</label>
				{% if edit is True %}
					<input 
						type='email'
						id='email' 
						name='email' 
						required 
						maxlength='45' 
						placeholder='Preencha com o e-mail'
						title='Preencha campo com o formato padrão de e-mail'
						value='{{ administrator.email }}' 
						readonly
					>
				{% else %}
					<input 
						type='email'
						id='email' 
						name='email' 
						required
						maxlength='45' 
						placeholder='Preencha com o e-mail'
						title='Preencha campo com o formato padrão de e-mail'
						value='{{ administrator.email }}' 
					>
				{% endif %}
			</div>
			<div class='form-block'>
				<label for='senha'>Senha *</label>
				{% if edit is True %}
					<input 
						type='password'
						id='senha' 
						name='senha' 
						minlength='6'
						maxlength='20' 
						pattern='.{6,}'    
						placeholder='Preencha com uma nova senha'
						title='Preencha campo com no mínimo seis caracteres' 
						value='{{ administrator.senha }}' 
					>
				{% else %}
					<input 
						type='password'
						id='senha' 
						name='senha' 
						minlength='6'
						maxlength='20' 
						pattern='.{6,}'  
						required 
						placeholder='Preencha com a senha'
						title='Preencha campo com no mínimo seis caracteres' 
						value='{{ administrator.senha }}' 
					>
				{% endif %}
			</div>
		</div>

		<div class='form-group-checkbox'>
			<div class='form-block-checkbox'>
				<label for='comando_voz' class='checkbox-label'>Comando por voz
					{% if administrator.comando_voz is True %}
						<input type='checkbox' id='comando_voz' name='comando_voz' value='sim' checked onclick='selecionarComando()'>
						<input id='comando_hidden' type='hidden' value='nao' name='comando_voz' disabled>
					{% else %}
						<input type='checkbox' id='comando_voz' name='comando_voz' value='sim' onclick='selecionarComando()'>
						<input id='comando_hidden' type='hidden' value='nao' name='comando_voz'>
					{% endif %}
  					<span class='checkmark'></span>
				</label>
			</div>
			<div class='form-block-checkbox'>
				<label for='ajuda_voz' class='checkbox-label'>Ajuda por voz
					{% if administrator.ajuda_voz is True %}
						<input type='checkbox' id='ajuda_voz' name='ajuda_voz' value='sim' checked onclick='selecionarAjuda()'>
						<input id='ajuda_hidden' type='hidden' value='nao' name='ajuda_voz' disabled>
					{% else %}
						<input type='checkbox' id='ajuda_voz' name='ajuda_voz' value='sim' onclick='selecionarAjuda()'>
						<input id='ajuda_hidden' type='hidden' value='nao' name='ajuda_voz'>
					{% endif %}
  					<span class='checkmark'></span>
				</label>

			</div>
			<div class='form-block-checkbox'>
				<label for='nvda' class='checkbox-label'>NVDA
					{% if administrator.nvda is True %}
						<input type='checkbox' id='nvda' name='nvda' value='sim' checked onclick='selecionarNVDA()'>
						<input id='nvda_hidden' type='hidden' value='nao' name='nvda' disabled>
					{% else %}
						<input type='checkbox' id='nvda' name='nvda' value='sim' onclick='selecionarNVDA()'>
						<input id='nvda_hidden' type='hidden' value='nao' name='nvda'>
					{% endif %}
  					<span class='checkmark'></span>
				</label>
			</div>
		</div>
		
		<button type='submit'>Salvar</button>
	</form>
</div>
<script>
	const input = document.getElementById('foto');
	const imagem = document.getElementById('preview_image')
	const icone = document.getElementById('preview_icon');

	input.addEventListener('change', function() {
		const arquivo = this.files[0];

		if (arquivo) {
			const leitor = new FileReader();

			icone.style.display = 'none';
			imagem.style.display = 'flex';

			leitor.addEventListener('load', function() {
				imagem.setAttribute('src', this.result);	
			});

			leitor.readAsDataURL(arquivo);
		}
	});

	function selecionarArquivo() {
		input.click();
	}

	function selecionarComando() {
		if(document.getElementById('comando_voz').checked) {
    		document.getElementById('comando_hidden').disabled = true;
		} else {
			document.getElementById('comando_hidden').disabled = false;
		}
	}


	function selecionarAjuda() {
		if(document.getElementById('ajuda_voz').checked) {
    		document.getElementById('ajuda_hidden').disabled = true;
		} else {
			document.getElementById('ajuda_hidden').disabled = false;
		}
	}

	function selecionarNVDA() {
		if(document.getElementById('nvda').checked) {
    		document.getElementById('nvda_hidden').disabled = true;
		} else {
			document.getElementById('nvda_hidden').disabled = false;
		}
	}
</script>
{% endblock %}

