{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Administradores </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Administradores </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	<button class='create' onclick="window.location.href= `{% url 'admin-form' %}`">
		<p>Novo</p>
	</button>

	{% if admin_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por nome...'>
				<button aria-label='Pesquisar administrador' class='search-button' type='button' onclick='pesquisaAdmin()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Foto</th>
							<th>Nome</th>
							<th>RF</th>
							<th>E-mail</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for admin in admin_list %}
							<tr>
								<td>
									<img src='{{ admin.foto.url }}' alt='Foto do {{admin.nome}}'>
								</td>
								<td>{{ admin.nome }}</td>
								<td>{{ admin.rf }}</td>
								<td>{{ admin.email }}</td>
								<td>
									<div class='dropdown' onmouseleave='fecharlista(`{{ admin.id }}`)'>
										<button class='dropdown-button' onclick='exibirlista(`{{ admin.id }}`)'>
											Lista de opções
										</button>
										<div id='{{ admin.id }}' class='dropdown-content'>
											<a href="{% url 'admin-edit' admin.id %}">Editar</a>
											<form method='post' action="{% url 'admin-delete' admin.id %}">
												{% csrf_token %}
												<button style='cursor: pointer;' type='submit'>Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert' onclick="window.location.href = `{% url 'admin-form' %}`" style='cursor: pointer;'>
		  		<strong>Aviso!</strong> 
		  		<small>
		  			Você ainda não possui administradores cadastrados
		  		</small>
		  		<button class='alert-button'>Novo administrador</button>
			</div>
		</div>
	{% endif %}
</div>
<script>
	function exibirlista(id) {
		let menu = document.getElementById(id);

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}

	function fecharlista(id) {
		let menu = document.getElementById(id);

		menu.style.display = 'none';
	}

	$("input").keydown(function(evento) {
		let texto_entrada = evento.key;

		if(/[a-zA-Z0-9\s\@\-\&\*\(\)\!]/.test(texto_entrada)) {
			audio(`${texto_entrada}`);
		}
	});
</script>
{% endblock %}