{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Lista de Currículos </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Lista de Currículos </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class='list'>
	{% if curriculum_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por situação do currículo...'>
				<button class='search-button' type='button' onclick='pesquisaCurriculo()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Nome do aluno</th>
							<th>E-mail do aluno</th>
							<th>Situação</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for curriculum in curriculum_list %}
							<tr>
								<td>{{ curriculum.nome }}</td>
								<td>{{ curriculum.email }}</td>
								
								{% if curriculum.liberado %}
									<td>Liberado</td>
								{% else %}
									<td>Aguardando</td>
								{% endif %}
								
								<td>
									<div class='dropdown' onmouseleave='fecharlista()'>
										<button class='dropdown-button' onclick='exibirlista()'>
											Lista de opções
										</button>
										<div id='dropdown-content' class='dropdown-content'>
											<a href="{% url 'curriculum-read' curriculum.id %}">Visualizar</a>
											<form method='post' action="{% url 'curriculum-delete' curriculum.id %}">
												{% csrf_token %}
												<button type="submit">Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert'>
		  		<strong>Aviso!</strong> 
		  		<small>
		  			Não existe ainda currículos cadastrados
		  		</small>
			</div>
		</div>
	{% endif %}
</div>
<script>
	function exibirlista() {
		let menu = document.getElementById('dropdown-content');

		if (menu.style.display == 'none') {
			menu.style.display = 'block';
		} else {
			menu.style.display = 'none';
		}
	}

	function fecharlista() {
		let menu = document.getElementById('dropdown-content');

		menu.style.display = 'none';
	}
</script>
{% endblock %}