{% extends 'base.html' %}

{% block header %}
<h3>
	Lista de Currículos
</h3>
{% endblock %}

{% block content %}
<div class='list'>
	{% if curriculum_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por situação do currículo...'>
				<button class='search-button' type='button' onclick='pesquisaCurriculo()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Identificador</th>
							<th>E-mail do aluno</th>
							<th>Situação</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for curriculum in curriculum_list %}
							<tr>
								<td>{{ curriculum.id }}</td>
								<td>{{ curriculum.email }}</td>
								
								{% if curriculum.liberado %}
									<td>Liberado</td>
								{% else %}
									<td>Aguardando</td>
								{% endif %}
								
								<td>
									<div class='dropdown'>
										<button class='dropdown-button'>
											Lista de opções
										</button>
										<div class='dropdown-content'>
											<a href="{% url 'curriculum-read' curriculum.id %}">Visualizar</a>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert'>
		  		<strong>Aviso!</strong> 
		  		<small>
		  			Não existe ainda currículos cadastrados
		  		</small>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}