{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Currículo do {{ curriculum.nome }} </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Currículo do {{ curriculum.nome }} </h3>
		</div>
	{% endif %}
{% endblock %}

{% if error is not None %}
	<div class='error-overlay' onclick="this.style.display='none'">
		<div class='error-popup' onclick="this.parentElement.style.display='none'">
			<h2>Aviso</h2>
			<button class='error-close' style='border: 0; background-color: transparent;'>&times;</button>
			<div class='error-content'>
				<p>{{ error }}</p>
			</div>
		</div>
	</div>
{% endif %}

{% block content %}
	<div class='form'>
		<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'curriculum-list' %}`" aria-label='retornar'>
			<i class='fas fa-arrow-circle-left'></i>
		</button>
		<form autocomplete='off' method='post' action='.' enctype='multipart/form-data'>
			{% csrf_token %}
			<input name='aluno_id' type='hidden' aria-hidden='true' style='display: none;' value='{{ curriculum.aluno_id }}' />

			<div class='form-group' style='margin-top: 30px;'>
				<div class='form-block'>
					<label for='nome'>Nome</label>
					<input type='text' id='nome' name='nome' readonly value='{{ curriculum.nome }}'>
				</div>
				<div class='form-block'>
					<label for='email'>Email</label>
					<input type='text' id='email' name='email' readonly value='{{ curriculum.email }}'>
				</div>
			</div>

			<div class='form-group'>
				<div class='form-block'>
					<label for='instituicao_ensino'>Instituições de ensino</label>
					<textarea id='instituicao_ensino' name='instituicao_ensino' maxlength='255' onmouseenter='ajudaVoz(`Preencher com as instituições de ensino do aluno`)'>{{ curriculum.instituicao_ensino }}</textarea>
				</div>
				<div class='form-block'>
					<label for='curso_extra'>Cursos extras</label>
					<textarea id='curso_extra' name='curso_extra' maxlength='255' onmouseenter='ajudaVoz(`Preencher com cursos feitos pelo aluno`)'>{{ curriculum.curso_extra }}</textarea>
				</div>
			</div>

			<div class='form-group'>
				<div class='form-block'>
					<label for='empresa'>Empresas trabalhadas</label>
					<textarea id='empresa' name='empresa' maxlength='255' onmouseenter='ajudaVoz(`Preencher com as empresas trabalhadas do aluno`)'>{{ curriculum.empresa }}</textarea>
				</div>
				<div class='form-block'>
					<label for='cargo'>Cargos ocupados</label>
					<textarea id='cargo' name='cargo' maxlength='255' onmouseenter='ajudaVoz(`Preencher com os cargos ocupados pelo aluno`)'>{{ curriculum.cargo }}</textarea>
				</div>
			</div>

			<div class='form-group'>
				<div class='form-block'>
					<label for='laudo_botao'>Laudo médico</label>

					<div style='display: flex; flex-direction: row; align-items: center;'>
						<button
							type='button' 
							id='laudo_botao'
							onclick='selecionarArquivo()'
							onmouseenter='ajudaVoz(`Escolher novo laudo médico`)'
							style='display: flex; flex-direction: column; align-items: center; justify-content: center; width: 13.15em; height: 47px; border: 1px solid #FFF;
									border-radius: 0px; color: #FFF; background-color: #52A641; cursor: pointer; transition: all 0.5s; font-size: 18px; margin-top: 10px; margin-right: 15px; padding: 0.88em 1.56em;'
						>
							Selecionar novo laudo
						</button>
						<p id='mensagem' style='font-size: 14px; font-weight: bold; font-style: italic; color: #D44646;'></p>
					</div>

					<div style='width: 0; height: 0; overflow: hidden;'>
						<input id='novo_laudo_medico' name='novo_laudo_medico' type='file' accept='image/*, application/pdf' aria-hidden='true'/>
					</div>
				</div>
				{% if curriculum.link_laudo is not None %}
					<div class='form-block' style='margin-top: 20px;'>
						<a class='download' href='{{ curriculum.link_laudo }}' download>Baixar laudo médico atual</a>
					</div>
				{% endif %}
				<input aria-hidden='true' type='hidden' style='display: none;' name='laudo_medico' value='{{ curriculum.laudo_medico }}' />
			</div>

			<div class='form-group-checkbox'>
				<div class='form-block-checkbox'>
					<label 
						id='label_liberar_curriculo'
						for='liberado' 
						class='checkbox-label'
						onmouseenter='ajudaVoz(`Liberar currículo`)'
					>
						Liberado
						{% if curriculum.liberado %}
							<input aria-hidden='true' type='checkbox' id='liberado' name='liberado' value='sim' checked onclick='liberar()'>
							<input aria-hidden='true' id='liberado_hidden' type='hidden' value='nao' name='liberado' disabled>
						{% else %}
							<input aria-hidden='true' type='checkbox' id='liberado' name='liberado' value='sim' onclick='liberar()'>
							<input aria-hidden='true' id='liberado_hidden' type='hidden' value='nao' name='liberado'>
						{% endif %}
						<span class='checkmark'></span>
					</label>
				</div>
			</div>

			<button type='submit'>Salvar alterações</button>
		</form>
	</div>
	<script>
		const input = document.getElementById('novo_laudo_medico');
		const mensagem = document.getElementById('mensagem');
		const label_liberar = document.getElementById('label_liberar_curriculo');

		input.addEventListener('change', function() {
			const arquivo = this.files[0];

			if (arquivo) {
				mensagem.innerHTML = arquivo.name;
			} else {
				mensagem.innerHTML = '';
			}
		});

		label_liberar.addEventListener('keyup', function(evento) {
  			if (evento.keyCode === 13) {
    			document.getElementById('liberado').click();
  			}
		});

		function selecionarArquivo() {
			input.click();
		}

		function liberar() {
			if(document.getElementById('liberado').checked) {
    			document.getElementById('liberado_hidden').disabled = true;
			} else {
				document.getElementById('liberado_hidden').disabled = false;
			}
		}

		$("textarea").keydown(function(evento) {
			let texto_entrada = evento.key;

			if(/[a-zA-Z0-9\s\@\-\&\*\(\)\!]/.test(texto_entrada)) {
				audio(`${texto_entrada}`);
			}
		});

		$('form').on('submit', function() {
	        $('button[type="submit"]').attr('disabled', true);
	        return true;
    	});
	</script>
{% endblock %}