{% extends 'base.html' %}

{% block header %}
	{% if request.user.is_authenticated %}
        <div class='page-info'>
			<h3> Currículo {{ curriculum.id }} </h3>
		</div>
	{% else %}
		<div class='page-info-anonymous'>
			<h3> Currículo {{ curriculum.id }} </h3>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class='form'>
		<button class='form-button-return' style='border: 0; background-color: transparent;' onclick="window.location.href=`{% url 'curriculum-list' %}`" aria-label='retornar'>
			<i class='fas fa-arrow-circle-left'></i>
		</button>
		<form autocomplete='off' method='post' action='.'>
			{% csrf_token %}
			<div class='form-group' style='margin-top: 30px;'>
				<div class='form-block'>
					<label for='nome'>Nome</label>
					<input type='text' id='nome' name='nome' readonly value='{{ curriculum.nome }}'>
				</div>
				<div class='form-block'>
					<label for='email'>Email</label>
					<input type='text' id='email' name='email' readonly value='{{ curriculum.email }}'>
				</div>
			</div>

			<div class='form-group'>
				<div class='form-block'>
					<label for='instituicao_ensino'>Instituições de ensino</label>
					<textarea id='instituicao_ensino' name='instituicao_ensino' maxlength='255' required>{{ curriculum.instituicao_ensino }}</textarea>
				</div>
				<div class='form-block'>
					<label for='curso_extra'>Cursos extras</label>
					<textarea id='curso_extra' name='curso_extra' maxlength='255' required>{{ curriculum.curso_extra }}</textarea>
				</div>
			</div>

			<div class='form-group'>
				<div class='form-block'>
					<label for='empresa'>Empresas trabalhadas</label>
					<textarea id='empresa' name='empresa' maxlength='255' required>{{ curriculum.empresa }}</textarea>
				</div>
				<div class='form-block'>
					<label for='cargo'>Cargos ocupados</label>
					<textarea id='cargo' name='cargo' maxlength='255' required>{{ curriculum.cargo }}</textarea>
				</div>
			</div>

			<div class='form-group-checkbox'>
				<div class='form-block-checkbox'>
					<label for='liberado' class='checkbox-label'>Liberado
						{% if curriculum.liberado %}
							<input aria-hidden='true' type='checkbox' id='liberado' name='liberado' value='sim' checked onclick='liberar()'>
							<input aria-hidden='true' id='liberado_hidden' type='hidden' value='nao' name='liberado' disabled>
						{% else %}
							<input aria-hidden='true' type='checkbox' id='liberado' name='liberado' value='sim' onclick='liberar()'>
							<input aria-hidden='true' id='liberado_hidden' type='hidden' value='nao' name='liberado'>
						{% endif %}
						<span class='checkmark'></span>
					</label>
				</div>
			</div>

			<button type='submit'>Salvar alterações</button>
		</form>
	</div>
	<script>
		function liberar() {
			if(document.getElementById('liberado').checked) {
    			document.getElementById('liberado_hidden').disabled = true;
			} else {
				document.getElementById('liberado_hidden').disabled = false;
			}
		}

		$("textarea").keydown(function(evento) {
		let texto_entrada = evento.key;

		if(/[a-zA-Z0-9\s\@\-\&\*\(\)\!]/.test(texto_entrada)) {
			audio(`${texto_entrada}`);
		}
	});
	</script>
{% endblock %}