{% extends 'base.html' %}

{% block header %}
   	<h3> 
   		Lista de Vagas 
   	</h3>
{% endblock %}

{% block content %}
<div class='list'>
	<button class='create' onclick="window.location.href= `{% url 'job-form' %}`">
		<p>Novo</p>
	</button>

	{% if job_list|length > 0 %}
		<div class='list-container'>
			<div class='list-search'>
				<input type='text' class='search-input' placeholder='Pesquise por título...'>
				<button class='search-button' type='button' onclick='pesquisaVaga()'>
					<i class='fa fa-search'></i>
				</button>
			</div>

			<div class='list-table'>
				<table class='content-table'>
					<thead>
						<tr>
							<th>Título</th>
							<th>Data de expiração</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for job in job_list %}
							<tr>
								<td>{{ job.titulo }}</td>
								<td>{{ job.data_exp }}</td>
								<td>
									<div class='dropdown'>
										<button class='dropdown-button'>
											Lista de opções
										</button>
										<div class='dropdown-content'>
											<a href="{% url 'job-edit' job.id %}">Editar</a>
											<form method='POST' action="{% url 'job-delete' job.id %}">
												{% csrf_token %}
												<button type='submit'>Remover</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div class='alert-container'>
			<div class='alert' onclick="window.location.href = `{% url 'job-form' %}`" style='cursor: pointer;'>
		  		<strong>Aviso!</strong> 
		  		<small>
		  			Você ainda não possui vagas de emprego cadastradas
		  		</small>
		  		<button class='alert-button'>Nova vaga</button>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}